.flexRow {
  display: flex;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0.5rem 0.1rem 0 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.driverContainer {
  text-align: center;
  border: 0;
  background-image: radial-gradient(circle at 1px 1px, rgb(104, 102, 102) 0.5px, transparent 0);
  background-size: 5px 5px;
  padding-bottom: 1rem;
}

.driverContainer:nth-child(1), 
.driverContainer:nth-child(4),
.driverContainer:nth-child(5),
.driverContainer:nth-child(8),
.driverContainer:nth-child(9),
.driverContainer:nth-child(12),
.driverContainer:nth-child(13),
.driverContainer:nth-child(16),
.driverContainer:nth-child(17),
.driverContainer:nth-child(20) {
  background-color: #ec4c8a;
}

.driverContainer:nth-child(2), 
.driverContainer:nth-child(3),
.driverContainer:nth-child(6),
.driverContainer:nth-child(7),
.driverContainer:nth-child(10),
.driverContainer:nth-child(11),
.driverContainer:nth-child(14),
.driverContainer:nth-child(15),
.driverContainer:nth-child(18),
.driverContainer:nth-child(19) {
  background-color: #d04278;
}

input {
  width: 80%;
  height: 2rem;
  margin: auto;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: solid 0.05rem #ec4c8a;
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
  color: #ec4c8a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec4c8a;
}

.setupWheel {
  padding-left: 1rem;
}

.helmetDrivers {
  font-size: 4.5rem;
  filter: brightness(35%);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem; 
}

.driverInfo {
  text-align: end;
  margin: 0 0.5rem 0 0;
}